.modal form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  }
  .modal form {
  position: relative;
  top: 20px;
  width: 55%;
  left: 20%;
  background-color: #aaaaaa;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  }
  .modal h2{
  position: relative;
  left: 290px;
  }
  .modal form input[type="submit"] {
    position: relative;
    left: 210px;
    width: 300px;
  }
  .modal input {
  position: relative;
  left: 60px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 15px;
  width: 600px;
  }
  .modal button {
  position: relative;
  left: 280px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
.modal p{
  position: relative;
  left: 360px;
  }